:root {
  /* color */
  --color-blue: #3a4ca8;
  --color-light-blue: #18a8f1;
  --color-light-blue2: #cff0ff;
  --color-white: #fff;
  --color-light-blue-one: #98e6cc;
  --color-light-blue-two: #76aecf;
  --color-black: #353535;

  /* fontSize */
  --fontSize-small: 20px;
  --fontSize-sm: 22px;
  --fontSize-middle: 28px;
  --fontSize-m2: 34px;
  --fontSize-large: 50px;
  --fontSize-xl: 65px;

  /* fontWeight */
  --fontWeight-small: 300;
  --fontWeight-semibord: 500;
  --fontWeight-bord: 700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #fff;
}

/* main */
main {
  background: var(--color-light-blue-two);
}

.main-wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.main-wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}

.left .title-wrapper {
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-small);
  color: var(--color-white);
  letter-spacing: -3px;
  z-index: 1;
}

.title-one br,
.title-two br {
  display: none;
}

.one {
  color: var(--color-light-blue-one);
  font-weight: var(--fontWeight-bord);
}

.two {
  color: var(--color-blue);
  font-weight: var(--fontWeight-bord);
}

.left .subtitle-wrapper {
  padding: 20px 0;
  color: var(--color-white);
  font-size: var(--fontSize-small);
  font-weight: var(--fontWeight-small);
}

.img-wrapper {
  position: relative;
  padding: 100px 0;
}

.img-background {
  position: relative;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  transform: scaleX(-1) scale(1.3) translateX(20%);
  object-fit: cover;
}

.btn-wrapper {
  padding-top: 50px;
}

.btn-cta {
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-small);
  background: var(--color-black);
  border: none;
  padding: 10px 70px;
  color: var(--color-white);
}

/* svg */
.custom-shape-divider-bottom-1660230293 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660230293 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-1660230293 .shape-fill {
  fill: #fff;
}
/* svg */

/* content */
.process {
  max-width: 1400px;
  margin: auto;
}

.process-wrapper {
  display: flex;
  flex-direction: column;
}

.intro-wrapper {
  text-align: center;
}

.intro-wrapper .intro {
  padding: 80px 0 30px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-small);
  letter-spacing: -2px;
}

.intro-wrapper .logo {
  padding: 10px 0 20px;
}

.logo {
  width: 150px;
}

.contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-light-blue2);
  max-width: 550px;
  max-height: 350px;
}

.content-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: linear 0.15s;
}

.content-img:hover {
  transform: scale(1.1);
}

.content-num {
  transform: translateY(-20px);
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--color-light-blue);
  color: var(--color-white);
  font-weight: var(--fontWeight-small);
  font-size: var(--fontSize-small);
}

.content-work {
  transform: translateY(-20px);
  color: var(--color-black);
  font-weight: var(--fontWeight-bord);
  font-size: var(--fontSize-sm);
  padding: 5px;
}

.content-desc {
  transform: translateY(-20px);
  color: var(--color-black);
  font-weight: var(--fontWeight-semibord);
  font-size: var(--fontSize-sm);
}

/* area */
.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area-title {
  padding: 80px 0 40px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}

.local-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
}

.local-wrapper li {
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
  /* border: solid 1px var(--color-light-blue); */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 300px;
  overflow: hidden;
}

.local-wrapper li img {
  max-width: 100%;
  object-fit: cover;
}

.local-wrapper li .black {
  max-width: 100%;

  position: absolute;
  background: var(--color-black);
  opacity: 0.3;
  transition: linear 0.2s;
  border-radius: 8px;
}

.local-wrapper li .black:hover {
  opacity: 0;
}

.local-wrapper li .local-name {
  position: absolute;
  color: var(--color-white);
  font-size: var(--fontSize-xl);
  font-weight: var(--fontWeight-bord);
  pointer-events: none;
}

.area-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  padding: 80px 0 10px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}

.section-desc {
  text-align: center;
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-small);
  opacity: 0.8;
}

.section-desc-time {
  padding: 8px 0;
  text-align: center;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-small);
  opacity: 0.8;
}

.delivery-section {
  padding: 40px 0 0;
  max-width: 1050px;
  overflow: hidden;
}

.delivery-section img {
  object-fit: cover;
  display: block;
  max-width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  padding: 80px 0 10px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}

.box-img {
  max-width: 400px;
}

.box-img img {
  width: 100%;
  object-fit: cover;
  padding: 30px;
}

.box-desc {
  text-align: center;
  font-size: var(--fontSize-m2);
  font-weight: var(--fontWeight-small);
  line-height: var(--fontSize-large);
  opacity: 0.8;
}

/* guide */

.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide-title {
  padding: 80px 0 40px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}

.info-wrapper .info {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  padding: 30px 90px 30px 90px;
  border-radius: 30px;
  background-color: var(--color-light-blue2);
}

.info p {
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  padding-left: 40px;
  letter-spacing: -0.5px;
}

.info span {
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-small);
  color: var(--color-light-blue);
}

/* inquire */

.inquire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inquire-title {
  padding: 80px 0 40px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}

.inquire-num {
  margin: 30px;
  padding: 20px 140px;
  border-radius: 80px;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  font-size: var(--fontSize-large);
  font-weight: var(--fontWeight-bord);
}

/* price */

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-title {
  padding: 80px 0 40px;
  font-size: var(--fontSize-middle);
  font-weight: var(--fontWeight-bord);
  letter-spacing: -2px;
}
.price-table {
  max-width: 1400px;
  overflow: hidden;
}

.price img {
  display: block;
  max-width: 100%;
  padding-bottom: 120px;
}

@media (max-width: 1380px) {
  /* main */
  :root {
    /* fontSize */
    --fontSize-small: 20px;
    --fontSize-sm: 22px;
    --fontSize-middle: 24px;
    --fontSize-m2: 30px;
    --fontSize-large: 40px;
    --fontSize-xl: 50px;
  }

  .main-wrapper .left {
    padding-left: 80px;
  }

  .left .title-wrapper {
    font-size: var(--fontSize-large);
    font-weight: var(--fontWeight-small);
    letter-spacing: -3px;
    z-index: 1;
  }

  .left .subtitle-wrapper {
    padding: 20px 0;
    font-size: var(--fontSize-small);
    font-weight: var(--fontWeight-small);
  }

  .title-one br,
  .title-two br {
    display: none;
  }

  .img-wrapper {
    position: relative;
    padding: 100px 0;
  }

  .img-background {
    position: relative;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    transform: scaleX(-1) scale(1.2) translateX(20%);
    object-fit: cover;
  }

  .btn-wrapper {
    padding-top: 50px;
  }

  .btn-cta {
    font-size: var(--fontSize-middle);
    font-weight: var(--fontWeight-small);
    border: none;
    padding: 10px 70px;
  }
  .delivery-section {
    padding: 20px;
  }
  .price-table {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  :root {
    /* fontSize */
    --fontSize-small: 20px;
    --fontSize-sm: 22px;
    --fontSize-middle: 24px;
    --fontSize-m2: 26px;
    --fontSize-large: 36px;
    --fontSize-xl: 40px;
  }
  .left {
    z-index: 1;
  }
  .img-background {
    width: 400px;
  }
  .title-one br,
  .title-two br {
    display: block;
  }
}

@media (max-width: 784px) {
  :root {
    /* fontSize */
    --fontSize-small: 18px;
    --fontSize-sm: 20px;
    --fontSize-middle: 22px;
    --fontSize-m2: 24px;
    --fontSize-large: 32px;
    --fontSize-xl: 40px;
  }
  .left {
    z-index: 1;
  }
  .img-background {
    width: 380px;
  }
  .title-one br,
  .title-two br {
    display: block;
  }
}

@media (max-width: 600px) {
  /* main */
  :root {
    /* fontSize */
    --fontSize-small: 12px;
    --fontSize-sm: 14px;
    --fontSize-middle: 16px;
    --fontSize-m2: 18px;
    --fontSize-large: 23px;
    --fontSize-xl: 24px;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-wrapper .left {
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left .title-wrapper {
    text-align: center;
    font-size: var(--fontSize-large);
    font-weight: var(--fontWeight-bord);
    letter-spacing: -3px;
    z-index: 1;
  }

  .title-one br,
  .title-two br {
    display: none;
  }

  .one {
    font-weight: var(--fontWeight-bord);
  }

  .two {
    font-weight: var(--fontWeight-bord);
  }

  .left .subtitle-wrapper {
    display: none;
  }

  .img-wrapper {
    position: absolute;
    overflow: hidden;
  }

  .img-background {
    position: relative;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.2) translateX(40px);
    object-fit: cover;
  }

  .btn-wrapper {
    display: block;
    padding-top: 420px;
    z-index: 1;
  }

  .btn-cta {
    font-size: var(--fontSize-m2);
    font-weight: var(--fontWeight-small);
    border: none;
    padding: 8px 60px;
  }
  .custom-shape-divider-bottom-1660230293 {
    display: none;
  }
  /* content */
  .intro-wrapper br {
    display: none;
  }

  .intro-wrapper .intro {
    padding: 80px 20px 30px;
    font-size: var(--fontSize-large);
    letter-spacing: -2px;
  }

  .content {
    max-width: 350px;
    max-height: 300px;
  }

  .content-img {
    height: 180px;
    object-fit: cover;
    transition: linear 0.15s;
  }

  .content-num {
    transform: translateY(-25px);
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: var(--color-light-blue);
    color: var(--color-white);
    font-size: var(--fontSize-large);
  }

  .content-work {
    transform: translateY(-20px);
    color: var(--color-black);
    font-size: var(--fontSize-m2);
    padding: 5px;
  }

  .content-desc {
    transform: translateY(-20px);
    color: var(--color-black);
    font-size: var(--fontSize-m2);
  }

  .area-title {
    padding: 80px 0 5px;
    font-size: var(--fontSize-m2);
    letter-spacing: -2px;
  }

  .local-wrapper {
    flex-direction: column;
  }
  .section-title {
    padding: 80px 0 15px;
    font-size: var(--fontSize-m2);
    letter-spacing: -2px;
  }
  .section-desc {
    text-align: center;
    font-size: var(--fontSize-middleS);
    opacity: 0.8;
  }
  .delivery-section {
    padding: 30px 20px;
  }

  .box-title {
    padding: 80px 0 0;
    font-size: var(--fontSize-m2);
    font-weight: var(--fontWeight-bord);
    letter-spacing: -2px;
  }
  .box-img {
    padding: 0 20px;
    transform: translateY(-20px);
  }
  .box-desc {
    transform: translateY(-20px);
  }
  .guide-title {
    padding: 60px 0 0;
    font-size: var(--fontSize-m2);
    letter-spacing: -2px;
  }
  .info-wrapper .info {
    margin: 30px 20px;
    padding: 15px 25px;
    border-radius: 15px;
  }
  .info p {
    padding-left: 25px;
    letter-spacing: -0.5px;
    font-weight: var(--fontWeight-semibord);
  }
  .inquire-title {
    padding: 40px 0 0;
    font-size: var(--fontSize-m2);
    letter-spacing: -2px;
  }
  .inquire-num {
    margin: 30px 0;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    font-size: var(--fontSize-large);
    font-weight: var(--fontWeight-bord);
  }
  .price-title {
    padding: 40px 0 20px;
    font-size: var(--fontSize-m2);
    letter-spacing: -2px;
  }
  .price-table {
    padding: 30px 20px;
  }
  .price img {
    padding-bottom: 30px;
  }
}
